<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>327090325325-4p5fgt6rlh0bjbfo6hffgptmt2m8gpo7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.327090325325-4p5fgt6rlh0bjbfo6hffgptmt2m8gpo7</string>
	<key>API_KEY</key>
	<string>AIzaSyDwIQXwmfCzsWN_fI5FVUibUNhvmeBmfP0</string>
	<key>GCM_SENDER_ID</key>
	<string>327090325325</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vendeco.vendeco</string>
	<key>PROJECT_ID</key>
	<string>vendeco-99246</string>
	<key>STORAGE_BUCKET</key>
	<string>vendeco-99246.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327090325325:ios:9732bcbaaf94c157981904</string>
	<key>DATABASE_URL</key>
	<string>https://vendeco-99246-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>